
/* 
 The layout of the Home page is displayed using CSS Grid.
 Each grid area is displayed using Flexbox.    
*/

.master-container {
  display: grid;
  grid-template: 'banner banner banner banner'
                 ' side  search search search'
                 ' side  items  items  items '
                 ' side  items  items  items '
                 ' side  items  items  items ';

  grid-template-columns: minmax(225px, 250px) auto auto auto;
  grid-template-rows: auto auto auto auto auto;
}


.banner-container {
  grid-area: banner;
  background-image: url("../../img/PonyListBanner.png");
  background-color: rgb(75, 104, 201);
  max-width: 100%;
  height: 300px;
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
  margin-bottom: 1.5rem;
  border-radius: .3rem;
}
.banner-logo-box--home {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
}



.items-container {
  grid-area: items;
  display: flex;
  flex-wrap: wrap;
  margin-left: 1rem;
}
.item-box {
  width: 250px;
  height: 250px;

  background-color: #e9ecef;
  border: 1px solid lightgrey;
  border-radius: 5%;
  margin: 1rem;
}
@media (max-width: 550px) {
  .item-box {
    width: 240px;
  }
}
.item-box:hover {
  transform: scale(1.05);
  background-color: #e1e3e4;
}

.item-name {
  font-size: 1rem;
  color: black;
  margin: 0.5rem;
}
/* This will break a long string (no whitespace) and wrap it to the next line. */
.itemDetails-text {
  word-wrap: break-word;
}
.lower-half-item-box {
  display: flex;
}
.lower-half-item-box img {
  border-radius: 5%;
  width: 100px;
  height: 100px;
  margin: 0 0.8rem;
}
@media (max-width: 550px) {
  .lower-half-item-box img {
    margin: 0 0.3rem;
  }
}




.side-nav-bar-container {
  grid-area: side;
  background-color: rgb(75, 104, 201);
  color: white;
  border-radius: .3rem;
  padding: 2rem 1rem;
  margin-right: 1rem;
}
.side-nav-bar-img-box {
  text-align: center;
}
.logo-separator {
  border: 0.5px solid rgb(223, 218, 218, 0.3);
  border-radius: 10%;
  margin: 2rem 0;
}
.price-range-input-box {
  display: flex;
  width: 180px;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.price-range-input-min,
.price-range-input-max {
  width: 70px;
}
.price-range-input-max {
  margin: 0 0.5rem;
}
.side-nav-bar-btn-box {
  display: flex;
  margin-top: 3rem;
}


.search-bar-container {
  grid-area: search;
}
.search-bars-box {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}
.input-group {
  margin-left: 2rem;
  margin-top: 0.5rem;
  max-width: 350px;
}
.fa-search {
  color: white;
}

.searchResultAlert {
  margin-top: 1.5rem;
  margin-left: 1.5rem; 
  max-width: 600px;
  /* border: 2px solid #debe60; */
}
.searchResultAlert p {
  margin: 0;
}
.searchResultAlert span {
  font-weight: bold;
}
